:root {
    --dark: rgb(34, 33, 33);
    --taupe: rgb(66, 61, 53);
    --primary-color: rgb(57, 112, 171);
    --secondary-color: #1493df;
    --dirty-white: rgb(230, 230, 230);
    --nav-height: 69px;
}

@font-face {
    font-family: Barlow-Regular;
    src: url("../fonts/Barlow-Regular.otf") format('opentype');
}

@font-face {
    font-family: Barlow-ExtraBold;
    src: url("../fonts/Barlow-ExtraBold.otf") format('opentype');
}

@font-face {
    font-family: Barlow-Bold;
    src: url("../fonts/Barlow-Bold.otf") format('opentype');
}

/***** HTML ELEMENT SELECTORS *****/

nav {
    background-color: var(--primary-color);
    height: var(--nav-height);
    text-align: right;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
    padding: 1.25rem;
}

nav > a {
    color: whitesmoke;
    margin: 0 2.5rem;
    text-decoration: none;
}

/*:target::before {
    content: "";
    display: block;
    height: 65px;
    margin: -65px 0 0;
}*/

/***** CUSTOM ID SELECTORS *****/

#staff-outlook-main {
    position: absolute;
    top: 40%;
    width: 70%;
}

#staff-outlook-main span {
    color: white;
    font-size: 2.5vw;
    position: relative;
    top: 80%;
    left: 28%;
    padding-bottom: 1.5em;
}

#staff-outlook-info .left {
    font-size: 40px;
    padding: 20px;
    width: 55%;
}

#staff-outlook-info .left ul {
    font-size: xx-large;
}

#staff-outlook-info .right {
    color: white;
    font-size: 48px;
    text-align: center;
    padding: 20px;
    width: 45%;
}

#staff-outlook-info .right img {
    box-sizing: border-box;
    padding: 4rem;
}

#features {
    background: linear-gradient(to bottom, var(--dark) 50%, lightgray 50%);
}

#features p {
    color: var(--dirty-white);
    font-size: 40px;
    font-family: Barlow-ExtraBold;
    margin: 0;
}

#features ul {
    display: inline-block;
    vertical-align: top;
}

#features ul li {
    background-color: var(--primary-color);
    border-radius: 80px;
    color: lightgray;
    list-style-type: none;
    margin: 20px;
    font-size: x-large;
    width: 28em;
    height: 7em;
    display: flex;
    align-items: center;
    font-family: Barlow-Bold;
    padding: 1rem;
}

#features img {
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 1rem;
}

#features {
    text-align: center;
}

/***** CUSTOM CLASS SELECTORS *****/

.cover {
    background-image: url('../images/building-skyline.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center 90%;
    height: calc(100vh - var(--nav-height));
}

.full-image-size {
    width: 100%;
    height: auto;
}

/***** MOBILE STYLING *****/

@media screen and (max-width: 1100px) { /*TODO: make pretty navbar on mobile*/
    nav a {
        display: none;
    }

    #features ul {
        display: none;
    }
}

/***** HTML ELEMENT SELECTORS *****/

html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: Barlow-Regular;
}

/***** CUSTOM ID SELECTORS *****/

#benefits {
    background-image: url('../images/rectangle-background.png');
    background-position: right bottom 1em;
    background-repeat: no-repeat;
    background-size: 70em 40em;
}

#benefits .flex img {
    width: 15em;
    height: 10em;
    object-fit: fill;
}

#benefits .flex > div {
    margin: 2em;
    text-align: center;
    flex: 1 1 calc(33.33% - 4em);
}

#benefits p {
    color: white;
    font-size: 1.5rem;
}

#contact > div {
    width: 50%;
}

#contact .btn {
    font-size: xx-large;
}

#contact .column-boxed {
    padding: 2rem;
    margin-right: 2rem;
    text-align: center;
}

#contact,
#features ul li,
.children-row {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
}

/***** CUSTOM CLASS SELECTORS *****/

.blue-heading,
.blue-heading-small,
.blue-heading-large {
    color: var(--primary-color);
    font-family: Barlow-ExtraBold;
}

.blue-heading {
    font-size: 3.75rem;
}

.blue-heading-small {
    font-size: 2.5rem;
}

.blue-heading-large {
    font-size: 5rem;
}

.btn {
    color: var(--dirty-white);
    background-color: var(--taupe);
    border-radius: 5px;
    padding: 0.5rem 2rem;
    text-decoration: none;
    font-family: Barlow-ExtraBold;
    font-size: x-large;
}

.btn-wrapper {
    margin: 4em;
}

.column-boxed {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
}

.dark {
    background-color: var(--dark);
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.email {
    color: var(--secondary-color);
    font-size: xx-large;
}

.email-icon {
    width: 4rem;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.heading-w-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-wrapper > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo {
    width: 6em;
    height: auto;
}

.section-padding {
    padding: 3.75em 7em;
}

.section-padding-small {
    padding: 1.5em 1.5em;
}

/***** MOBILE STYLING *****/

@media screen and (max-width: 1100px) { /*TODO: make pretty navbar on mobile*/
    html {
        font-size: 10px;
    }

    #contact {
        flex-direction: column;
    }

    #contact > div {
        width: 100%;
    }

    #contact .btn {
        font-size: large;
    }

    .email {
        font-size: large;
    }
}