:root {
    --dark: #222121;
    --taupe: #423d35;
    --primary-color: #3970ab;
    --secondary-color: #1493df;
    --dirty-white: #f2f2f2;
    --nav-height: 69px;
}

@font-face {
    font-family: Barlow-Regular;
    src: url("../fonts/Barlow-Regular.otf") format('opentype');
}

@font-face {
    font-family: Barlow-ExtraBold;
    src: url("../fonts/Barlow-ExtraBold.otf") format('opentype');
}

@font-face {
    font-family: Barlow-Bold;
    src: url("../fonts/Barlow-Bold.otf") format('opentype');
}

/***** HTML ELEMENT SELECTORS *****/

html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: Barlow-Regular;
}

nav {
    background-color: var(--primary-color);
    height: var(--nav-height);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    box-sizing: border-box;
    padding: 1.25rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 8px 6px -6px rgba(0,0,0,.5);
}

/***** CUSTOM ID SELECTORS *****/

#benefits {
    background-image: url('../images/rectangles.png');
    background-position: right bottom 1em;
    background-repeat: no-repeat;
    background-size: 70em 40em;
}

    #benefits .flex img {
        width: 15em;
        height: 10em;
        object-fit: fill;
        box-shadow: 10px 8px 29px var(--primary-color);
    }

    #benefits .flex > div {
        margin: 2em;
        text-align: center;
        flex: 1 1 calc(33.33% - 4em);
    }

    #benefits p {
        color: white;
        font-size: 1.5rem;
    }

#contact > div {
    width: 50%;
}

#contact .btn {
    font-size: xx-large;
}

#contact .column-boxed {
    padding: 2rem;
    margin-right: 2rem;
    text-align: center;
}

#contact,
#features ul li,
#staff-outlook-info {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
}

#features {
    background: linear-gradient(to bottom, var(--dark) 50%, lightgray 50%);
    text-align: center;
}

    #features ul {
        display: inline-block;
    }

        #features ul li {
            background-color: var(--primary-color);
            border-radius: 80px;
            color: lightgray;
            list-style-type: none;
            margin: 1.5rem;
            font-size: large;
            width: 25em;
            height: 7em;
            display: flex;
            align-items: center;
            font-family: Barlow-Bold;
            padding: 1rem;
        }

    #features img {
        width: 6em;
        height: 6em;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 1rem;
    }

#staff-outlook-container {
    position: absolute;
    top: 40%;
    width: 70%;
}

    #staff-outlook-container span {
        color: white;
        font-size: 2.5vw;
        position: relative;
        top: 80%;
        left: 28%;
        padding-bottom: 1.5em;
    }

#staff-outlook-info .left {
    font-size: 2rem;
    padding: 1.5rem;
    width: 55%;
}

    #staff-outlook-info .left ul {
        font-size: 1.75rem;
    }

#staff-outlook-info .column-boxed {
    color: white;
    font-size: 2.5rem;
    text-align: center;
    padding: 1rem;
    width: 45%;
}

/***** CUSTOM CLASS SELECTORS *****/

.blue-heading,
.blue-heading-small,
.blue-heading-large {
    color: var(--primary-color);
    font-family: Barlow-ExtraBold;
}

.blue-heading {
    font-size: 3.75rem;
}

.blue-heading-small {
    font-size: 2.5rem;
}

.blue-heading-large {
    font-size: 5rem;
}

.btn {
    color: var(--dirty-white);
    background-color: var(--taupe);
    border-radius: 5px;
    padding: 0.5rem 2rem;
    text-decoration: none;
    font-family: Barlow-ExtraBold;
    font-size: x-large;
}

.btn-wrapper {
    margin: 4em;
}

.column-boxed {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
}

.contained-img-w-padding {
    box-sizing: border-box;
    padding: 4rem;
}

.cover {
    background-image: url('../images/building-skyline.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center 90%;
    height: calc(100vh - var(--nav-height));
}

.dark {
    background-color: var(--dark);
}

.display-block {
    display: block;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.full-img-size {
    width: 100%;
    height: auto;
}

.email {
    color: var(--secondary-color);
    font-size: xx-large;
}

.email-icon {
    width: 4rem;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.heading-w-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-wrapper > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo {
    width: 6em;
    height: auto;
}

.logo-navbar {
    float: left;
    width: auto;
    height: calc(var(--nav-height) - 23px);
}

.menu-btn {
    display: none;
}

.nav-right a {
    color: whitesmoke;
    margin: 0 2.5rem;
    text-decoration: none;
}

.section-padding {
    padding: 3.75em 7em;
}

.section-padding-small {
    padding: 1.5em;
}

.white-heading {
    color: var(--dirty-white);
    font-size: 2.5rem;
    font-family: Barlow-ExtraBold;
}

@media screen and (max-width: 1450px) {
    #features ul {
        display: block;
    }

        #features ul li {
            margin: 2em auto;
        }

    #staff-outlook-info {
        flex-direction: column;
    }

        #staff-outlook-info .left,
        #staff-outlook-info .column-boxed {
            width: 100%;
        }

        #staff-outlook-info .column-boxed {
            padding-bottom: 4rem;
        }

    .contained-img-w-padding {
        padding: 5rem;
    }
}

/***** MOBILE STYLING *****/

@media screen and (max-width: 1130px) { /*TODO: make pretty navbar on mobile*/
    html {
        font-size: 10px;
    }

    #contact .btn {
        font-size: large;
    }

    .email {
        font-size: large;
    }

    .nav-right {
        display: none;
    }

    .menu-btn {
        display: inline-block;
        cursor: pointer;
    }

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: var(--taupe);
        margin: 6px 0;
        transition: 0.4s;
    }

    /* Rotate first bar */
    .change .bar1 {
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    /* Fade out the second bar */
    .change .bar2 {
        opacity: 0;
    }

    /* Rotate last bar */
    .change .bar3 {
        transform: rotate(45deg) translate(-8px, -8px);
    }
}

/* Tablets */
@media screen and (min-width: 700px) and (max-width: 1130px) {
    #staff-outlook-info .column-boxed {
        font-size: 3rem;
    }

        #staff-outlook-info .column-boxed .blue-heading {
            font-size: 6rem;
        }
}

@media screen and (max-width: 700px) {
    #contact {
        flex-direction: column;
    }

        #contact > div {
            width: 100%;
        }

    #features ul {
        margin-left: 0;
        padding-left: 0;
    }

        #features ul li {
            font-size: 10px;
            width: 22em;
            height: 7em;
        }

    #features img {
        width: 6em;
        height: 6em;
    }

    .contained-img-w-padding {
        padding: 1rem;
    }

    .section-padding {
        padding: 3.75em;
    }
}

@media screen and (min-width: 350px) and (max-width: 700px) {
    #features ul li {
        font-size: 10px;
    }
}

/* Galaxy Fold and other devices with similar width */
@media screen and (max-width: 350px) {
    #features ul li {
        font-size: 8px;
    }

    .btn-wrapper {
        margin: 3em 0;
    }

    .blue-heading {
        font-size: 3rem;
    }

    .blue-heading-large {
        font-size: 4rem;
    }
}
